language: python
# ===== Linux ======
dist: xenial
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install codecov
install:
  - pip install ".[test]"
script: pytest
after_success:
  - codecov # submit coverage